[build]
  base = "."
  command = "npm install && npm run build"
  publish = "apps/www/.next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"

