[build]
  base = "."
  command = "npm install && cd packages/ui && npm run build && cd ../../apps/www && npm run build"
  publish = "apps/www/.next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"

